.alert {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
  i {
    margin-right: 20px;
  }
  i, p {
    color: $white;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .title {
    font-weight: bold;
  }
  &.error {
    background: $error;
  }
  &.success {
    background: $success;
  }
  &.warning {
    background: $warning;
  }
}