main {
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 40px);
  padding: 100px 0 40px;
  .block-container {
    width: 80vw;
    height: 100%;
    max-height: 40vw;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 4fr 4fr 5fr 3fr;
    .block {
      overflow: hidden;
      position: relative;
      .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content:center;
        align-items: center;
        color: $white;
        line-height: 1;
      }
      .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: 1;
        padding: 15px;
      }
      &:hover {
        overflow-y: auto;
      }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: $darkgray;
        border-radius: 5px;
      }
      &:nth-child(-n + 6) {
        .inner {
          font-size: 17px;
          font-weight: bold;
        }
      }
      &:first-child, &:last-child {
        .inner {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &:nth-child(n + 7) {
        .cover {
          transition: transform 0.5s;
        }
        &:hover {
          .cover {
            transform: translateX(101%);
          }
        }
      }
    }
    .block-1 {
      grid-area: 1 / 1 / 5 / 2;
      .cover {
        transition: transform 0.5s;
        background: $white;
      }
      &:hover {
        .cover {
          transform: translate(-100%, -100%);
        }
      }
      button {
        color: $white;
        background: $lightblue;
        padding: 7px 30px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background: $blue;
        }
        &:active, &:focus {
          outline: none;
        }
      }
    }
    .block-2 {
      grid-area: 5 / 1 / 9 / 2;
      .cover {
        transition: transform 0.3s;
        background: $green;
        font-size: 80px;
      }
      &:hover {
        .cover {
          transform: scale(0);
        }
      }
    }
    .block-3 {
      grid-area: 1 / 2 / 7 / 3;
      .cover {
        transition: transform 0.3s;
        background: $yellow;
        font-size: 100px;
        font-weight: bold;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 10px;
        padding-bottom: 10px;
        color: $black;
      }
      &:hover {
        .cover {
          transform: scale(0);
        }
      }
    }
    .block-4 {
      grid-area: 7 / 2 / 9 / 3;
      .cover {
        transition: transform 0.5s;
        background: $red;
        font-size: 40px;
      }
      &:hover {
        .cover {
          transform: translateY(100%);
        }
      }
    }
    .block-5 {
      grid-area: 1 / 3 / 4 / 5;
      .cover {
        transition: transform 0.5s;
        background: $lightpurple;
        font-size: 80px;
        font-style: italic;
        color: $black;
      }
      &:hover {
        .cover {
          transform: translate(100%, -100%);
        }
      }
    }
    .block-6 {
      grid-area: 4 / 3 / 9 / 4;
      .cover {
        transition: transform 0.5s;
        background: $purple;
        font-size: 90px;
      }
      &:hover {
        .cover {
          transform: translate(100%, 100%);
        }
      }
    }
    .block-7 {
      grid-area: 4 / 4 / 6 / 5;
      .cover {
        background: $lightblue;
      }
    }
    .block-8 {
      grid-area: 6 / 4 / 8 / 5;
      .cover {
        background: $blue;
      }
    }
    .block-9 {
       grid-area: 8 / 4 / 9 / 5;
      .cover {
        background: $darkblue;
      }
      .icons {
        a {
          text-decoration: none;
          font-size: 18px;
        }
        i {
          margin-right: 5px;
          cursor: pointer;
          &:hover {
            color: $lightblue;
          }
        }
      }
     }
  }

  .alerts {
    position: fixed;
    z-index: 3;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 991px) {
  main {
    .block-container {
      grid-template-columns: 8fr 1fr 5fr 4fr;
      grid-template-rows: 3fr 3fr 2fr 4fr 4fr;
      width: 90vw;
      max-height: 100%;
      .block-1 {
        grid-area: 1 / 1 / 4 / 2;
      }

      .block-2 {
        grid-area: 5 / 1 / 6 / 3;
      }

      .block-3 {
        grid-area: 1 / 2 / 4 / 4;
      }

      .block-4 {
        grid-area: 4 / 1 / 5 / 3;
      }

      .block-5 {
        grid-area: 4 / 3 / 5 / 5;
      }

      .block-6 {
        grid-area: 5 / 3 / 6 / 5;
      }

      .block-7 {
        grid-area: 1 / 4 / 2 / 5;
      }

      .block-8 {
        grid-area: 2 / 4 / 3 / 5;
      }

      .block-9 {
        grid-area: 3 / 4 / 4 / 5;
      }
    }
  }
}