$black: #000;
$white: #fff;
$background: #F8F9FC;
$gray: #BEC9DA;
$darkgray: #797979;
$yellow: #F7CF69;
$green: #52BF77;
$red: #E12B4C;
$purple: #642077;
$lightpurple: #8893C0;
$blue: #0443A3;
$lightblue: #2D99FF;
$darkblue: #00265F;
$orange: #F8991C;
$error: rgba(darken($red, 5%), 0.9);
$success: rgba(darken($green, 5%), 0.9);
$warning: rgba(darken($orange, 5%), 0.9);
