@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url('../fonts/#{$file_name}.eot');
    src: url('../fonts/#{$file_name}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file_name}.woff2') format('woff2'),
    url('../fonts/#{$file_name}.woff') format('woff'),
    url('../fonts/#{$file_name}.ttf') format('truetype'),
    url('../fonts/#{$file_name}.svg##{$file_name}') format('svg');
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
  }
}