@keyframes header {
  from {
    top: -60px;
  }
  to {
    top: 0;
  }
}

header {
  height: 60px;
  padding: 0 10vw;
  position: fixed;
  z-index: 4;
  top: -60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $white;
  animation: header 0.5s ease-out 0.5s;
  animation-fill-mode: forwards;
  .header-logo img {
    width: 100px;
    height: 30px;
  }
  .right-block {
    display: flex;
    flex-direction: row;
    .bell-wrp {
      margin-right: 20px;
      display: flex;
      align-items: center;
      i {
        color: $gray;
        cursor: pointer;
        &:hover {
          color: darken($gray, 10%);
        }
      }
    }
    .user-panel {
      position: relative;
      input[type='checkbox'] {
        width: 30px;
        height: 30px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:hover ~ .avatar {
          background: darken($orange, 5%);
        }
      }
      input:checked {
        ~ {
          .mini-menu {
            display: block;
          }
        }
      }
      .avatar {
        background: $orange;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        span {
          color: $white;
        }
      }
      .mini-menu {
        position: absolute;
        z-index: 5;
        top: 35px;
        right: 0;
        width: 200px;
        padding: 10px 20px;
        display: none;
        box-shadow: 0 2px 10px 3px rgba(0,0,0,.05);
        background: $white;
        .user-name {
          font-size: 14px;
          padding-bottom: 5px;
          color: $gray;
          border-bottom: 1px solid $gray;
          margin: 0 0 5px;
          text-align: center;
        }
        a {
          text-decoration: none;
          display: block;
          div {
            padding: 5px;
          }
          &:hover {
            background: $background;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    padding: 0 5vw;
  }
}