<header>
  <div class="header-logo">
    <img src="/img/logo.svg" alt="Binary Studio Logo">
  </div>
  <div class="right-block">
    <div class="bell-wrp">
      <i class="fas fa-bell"></i>
    </div>
    <div class="user-panel">
      <input type="checkbox">
      <div class="avatar">
        <span>B</span>
      </div>
      <div class="mini-menu">
        <p class="user-name">Bohdan Kravchuk</p>
        <a href="#">
          <div>Profile</div>
        </a>
        <a href="#">
          <div>Logout</div>
        </a>
      </div>
    </div>
  </div>
</header>