<main>
  <div class="block-container">
    <div class="block block-1">
      <div class="inner">
        <button>Join</button>
      </div>
      <div class="cover">
        <img src="/img/academy-logo.svg" alt="Academy logo">
      </div>
    </div>
    <div class="block block-2">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">QA</div>
    </div>
    <div class="block block-3">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">JS</div>
    </div>
    <div class="block block-4">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">Java</div>
    </div>
    <div class="block block-5">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">php</div>
    </div>
    <div class="block block-6">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">.NET</div>
    </div>
    <div class="block block-7">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantium magnam minus nam, quam sunt.</div>
      <div class="cover">Events</div>
    </div>
    <div class="block block-8">
      <div class="inner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aut dolorem fugiat laudantiummagnam minus nam, quam sunt.</div>
      <div class="cover">Blog</div>
    </div>
    <div class="block block-9">
      <div class="inner icons">
        <a href="#">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="#">
          <i class="fab fa-telegram fa-lg"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
      <div class="cover">Contacts</div>
    </div>
  </div>

  <div class="alerts">
    <div class="alert error">
      <i class="fas fa-exclamation-circle fa-lg"></i>
      <div class="text-wrp">
        <p class="title">Error</p>
        <p class="message">Something went wrong. Please try again later.</p>
      </div>
    </div>
    <div class="alert success">
      <i class="fas fa-check-circle fa-lg"></i>
      <div class="text-wrp">
        <p class="title">Success</p>
        <p class="message">Profile was updated.</p>
      </div>
    </div>
  </div>
</main>